*{
    margin: 0;
    padding: 0;
   font-family: Bebas Neue;
}
h2,h4 {
    color: #34495e;
    font-weight: bold;
}
.logo-image {
    width: 40%;
}
.featured-area {
    background-color: #FFF9F4;
    width: 100%;
}
.featured-image {
    width: 75%;
}

.menu {
    font-size: 15px;
    color: black;
    
}
.main-image {
    width: 30%;
}

.price {
    font-weight: bold;
    font-size: 25px;
    color:#ff6100;
}
.left-image {
    width: 70%;
    height: auto;
}
.cart-image {
    width: 100%;
}



.footer-section {
    background-color: #ecf0f1 ;
    
}
